[user]
	email = mochi.h8888@gmail.com
	name = m-88888888
[includeIf "gitdir:~/dev/github.com/xincere-inc/"]
  path = ~/.gitconfig-jobs
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  cof = !git branch -a | fzf | xargs git checkout
[init]
	defaultBranch = main
[commit]
	template = ~/dotfiles/git/.commit_template
[core]
  editor = nvim
	; pager = LESSCHARSET=utf-8 less
	pager = delta
	quotepath = false
[interactive]
    diffFilter = delta --color-only
[fetch]
  prune = true
[ghq]
  vcs = git
  root = ~/dev
  user = m-88888888
[credential]
  helper = osxkeychain
[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
	patterns = private_key
	patterns = private_key_id
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[delta]
  navigate = true  # use n and N to move between diff sections
  light = false    # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
  side-by-side = true
  ; keep-plus-minus-markers = true
[diff]
    colorMoved = default
