[user]
    name = "m-88888888"
    email = "mochi.h8888@gmail.com"
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[init]
	defaultBranch = main
[commit]
	template = ./commit_template
[core]
	pager = git-split-diffs --color | less -RFX
[fetch]
  prune = true
[ghq]
  vcs = git
  root = ~/dev
