.netrwhist

config/zsh/.zcompdump
config/zsh/.zsh_sessions
config/zsh/.zcompcache
config/zsh/.zsh_history

config/tmux/plugins

config/nvim/lazy-lock.json

*__pycache__

*vendor

config/claude/projects
config/claude/statsig
config/claude/todos
config/claude/.credentials.json
