# Enable Fcitx5
# See https://wiki.archlinux.org/title/Localization/Japanese
export XMODIFIERS="@im=fcitx"
export XMODIFIER="@im=fcitx"
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export DefaultModule=fcitx
