#!/bin/bash
# Enable Fcitx5
# See https://wiki.archlinux.org/title/Localization/Japanese
export XMODIFIERS="@im=fcitx"
export XMODIFIER="@im=fcitx"
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export DefaultModule=fcitx
# waylandを利用するときの設定
#
# # session を wayland に設定
# export XDG_SESSION_TYPE=wayland
#
# # Firefox や thunderbird をwayland で起動
# export MOZ_ENABLE_WAYLAND=1
#
# # Qt を wayland で起動、wayland に対応していない場合は xWayland で起動
# export QT_QPA_PLATFORM="wayland;xcb"
#
# # Wayland で WebRTC screen sharing を利用するために必要
# export XDG_CURRENT_DESKTOP=sway
# export XDG_CURRENT_SESSION=sway
#
# # Lightdm で sway の起動前に必要
# export LIBSEAT_BACKEND=logind
#
# # hdpi 向けの scaling 設定、個人の好み
# export GDK_DPI_SCALE=1
# export QT_SCALE_FACTOR=1
#
# # 私の環境では以下の設定がないと外部モニタの検出ができなかった
# export WLR_DRM_NO_MODIFIERS=1
#
# # sway を起動する前に5秒 sleep
# sleep 5
