[Unit]
Description=xremap service

[Service]
; User=root
; Group=root
ExecStart=/usr/bin/xremap /home/hachi/.config/xremap/config.yml
ExecStop=/usr/bin/killall xremap
Type=simple
Restart=always

[Install]
WantedBy=default.target
