[Unit]
Description=xremap service

[Service]
# restart periodically
Restart=always
ExecStart=/usr/bin/xremap /home/hachi/.config/xremap/systemd/xremap.service
User=root
Group=root

[Install]
WantedBy=default.target
