[Unit]
Description=xremap service

[Service]
Restart=always
ExecStart=/usr/bin/xremap /home/hachi/.config/xremap/config.yml
User=root
Group=root

[Install]
WantedBy=default.target
